.vue-magnify {
  cursor: move;
  &-preview {
    overflow: hidden;
    position: relative;
    width: 450px;
    height: 450px;
    border: 1px solid grey;
    .follow-unit {
      position: absolute;
      // 视口宽（小图的显示容器） = 大视口宽（大图的显示容器）/大展品宽（大图） * 小展品（小图）
      // width: 253.125px;
      // height: 253.125px;
      left: 0;
      top: 0;
      user-select: none;
      background: url('~@/assets/unit-dot.png') repeat;
      i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 2px;
        height: 2px;
        background: red;
      }
    }
  }
  &-zoom {
    // TODO 参数化
    width: 450px;
    height: 450px;
    overflow: hidden;
  }
}
